#aframark-container-micro {
	display: flex;
	align-items: center;
	font-size: 14px;
	padding-top: 10px;
    padding-bottom: 10px;
}
#aframark-container-micro img {
margin-right: 5px;
}
#question-tab {
    text-decoration: none;
}

